<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/oa.css}" rel="stylesheet" type="text/css">
    <script language="javascript" th:src="@{/js/public.js}"></script>
    <title>查询用户信息</title>
</head>
<body>
<center>
    <form action="userQuery.do" method="post">
        <input type="hidden" name="query" value="true">
        <center>
            <TABLE width="778" border=0 cellPadding=0 cellSpacing=0 borderColor=#ffffff bgColor=#dee7ff style="FONT-SIZE: 10pt">
                <TBODY>
                <TR height=35>
                    <TD align=middle width=120 th:background="@{/images/title_left.gif}"
                        bgColor=#dee7ff><FONT color=#f7f7f7>用户查询<font color="#FFFFFF">&nbsp;</font></FONT> </TD>
                </TR>
                </TBODY>
            </TABLE>
        </center>
        <TABLE width="778" border=0 align=center cellPadding=0 cellSpacing=0 borderColor=#ffffff style="FONT-SIZE: 10pt">
            <TBODY>
            <TR>
                <TD width="82%" height=14 align=right vAlign=center noWrap>
                </TD>
                <TD width="18%" align=right vAlign=center noWrap>　</TD>
            </TR>
            <TR>
                <TD height=14 align=right vAlign=center noWrap>
                    <!-- 在这里插入查询表单 -->
                </TD>
            </TR>
            <TR>
                <TD height=28 colspan="2" align=right vAlign=center noWrap th:background="@{/images/list_middle.jpg}">&nbsp;&nbsp;
                    <!-- 可以在这里插入分页导航条 -->
                </TD>
            </TR>
            </TBODY>
        </TABLE>
        <TABLE class="tableEdit" border="0" cellspacing="1" cellpadding="0" style="width:580px;">
            <TBODY>
            <TR>
                <td>
                    <!-- 主输入域开始 -->
                    <table class="tableEdit" style="width:778px;" cellspacing="0" border="0" cellpadding="0">
                        <tr>
                            <td class="tdEditLabel" >用户名</td>
                            <td class="tdEditContent"><input type="text" name="username">
                            </td>
                        </tr>
                    </table>
                    <!-- 主输入域结束 -->
                </td>
            </TR>
            </TBODY>
        </TABLE>

        <TABLE>
            <TR align="center">
                <TD colspan="3" bgcolor="#EFF3F7">
                    <input type="submit" name="saveButton"
                           class="MyButton" value="查询用户信息">
                </TD>
            </TR>
        </TABLE>
        <TABLE width="778" border=0 align=center cellPadding=0 cellSpacing=0 borderColor=#ffffff style="FONT-SIZE: 10pt">
            <TBODY>
            <TR>
                <TD height=28 align=right vAlign=center noWrap th:background="@{/images/list_middle.jpg}">&nbsp;&nbsp;
                </TD>
            </TR>
            </TBODY>
        </TABLE>
    </form>
</center>
</body>
</html>