<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD><TITLE>欢迎进入系统后台</TITLE>
    <META http-equiv=Content-Type content="text/html; charset=gb2312">
    <LINK href="../../static/css/Admin.css" rel=stylesheet>
    <SCRIPT language=javascript src="../../static/js/admin.js"></SCRIPT>

    <STYLE type=text/css>.STYLE1 {
        FONT-WEIGHT: bold;
        COLOR: #0099ff
    }
    </STYLE>

</HEAD>
<BODY><BR>
<TABLE class=tableborder cellSpacing=1 cellPadding=3 width="95%" align=center
       border=0>
</TABLE>
<BR>
<TABLE cellSpacing=1 cellPadding=3 width="95%" align=center bgColor=#6ab6b6
       border=0>
    <TBODY>
    <TR>
        <TH colSpan=2 height=24>【商品种类列表】</TH>
    </TR>
    <TR>
        <TD class=forumrow width="30%" height=24>
            <div align="center">商品种类编号</div>
        </TD>
        <TD class=forumrowhighlight width="70%"
            height=24>
            <div align="center">商品种类名称</div>
        </TD>
    </TR>
        <TR>
            <TD class=forumrow height=24>
                <div align="center"></div>
            </TD>
            <TD class=forumrowhighlight
                height=24>
                <div align="center"></div>
            </TD>
        </TR>
    <TR>
        <TD class=forumrow height=24 colspan="2" align="center">
            <a href="findAllCommodityClass.action?currentPage=1">首页</a>
            <a href="findAllCommodityClass.action?currentPage=${currentPage - 1}">上一页</a>
            <EM>首页</EM>
            <EM>上一页</EM>
            <a href="findAllCommodityClass.action?currentPage=${currentPage + 1}">下一页</a>
            <a href="findAllCommodityClass.action?currentPage=${page.totalPage}">尾页</a>
            <EM>下一页</EM>
            <EM>尾页</EM>
        </TD>
    </TR>
    </TBODY>
</TABLE>
<BR>
<TABLE class=tableborder cellSpacing=1 cellPadding=3 width="95%" align=center
       border=0>
</TABLE>
<BR>
</BODY>
</HTML>
