<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psfd.springboot.eshop.dao.CommodityclassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CommodityClassMap" type="com.psfd.springboot.eshop.domain.Commodityclass">
        <id column="commodity_classId" property="commodityClassid" />
        <result column="commodity_class_name" property="commodityClassName" />
    </resultMap>



</mapper>
