<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psfd.springboot.eshop.dao.EducateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.psfd.springboot.eshop.domain.Educate">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="purpose" property="purpose" />
        <result column="begintime" property="begintime" />
        <result column="endtime" property="endtime" />
        <result column="datum" property="datum" />
        <result column="teacher" property="teacher" />
        <result column="student" property="student" />
        <result column="createtime" property="createtime" />
        <result column="educate" property="educate" />
        <result column="effect" property="effect" />
        <result column="summarize" property="summarize" />
    </resultMap>

</mapper>
