<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    window.onload = function () {
        var time = 1;
        var secondEle = document.getElementById("second");
        var timer = setInterval(function () {
            secondEle.innerHTML = time;
            time--;
            if (time == 0) {
                clearInterval(timer);
                location.href = "admin/login.html"
            }

        }, 1000);
    }
</script>
<body>
用户名或密码有误，<span style="color:red" id="second">5</span>秒钟后跳转，
</body>
</html>