<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/oa.css}" rel="stylesheet" type="text/css">
    <script language="javascript" th:src="@{/js/public.js}"></script>
    <title>添加产品类别信息</title>
</head>
<body>
<center>
    <form th:action="@{productTypeAdd.do(current=${current})}" method="post">
        <TABLE class="tableEdit" border="0" cellspacing="1" cellpadding="0" style="width:580px;">
            <TBODY>
            <TR>
                <!-- 这里是添加、编辑界面的标题 -->
                <td align="center" class="tdEditTitle">添加产品类别信息</TD>
            </TR>
            <TR>
                <td>
                    <!-- 主输入域开始 -->
                    <table class="tableEdit" style="width:580px;" cellspacing="0" border="0" cellpadding="0">
                        <tr>
                            <td class="tdEditLabel">名称</td>
                            <td class="tdEditContent"><input type="text" name="typename"></td>
                            <td class="tdEditLabel"></td>
                            <td class="tdEditContent"> </td>
                        </tr>
                    </table>
                    <!-- 主输入域结束 -->
                </td>
            </TR>
            </TBODY>
        </TABLE>

        <TABLE>
            <TR align="center">
                <TD colspan="3" bgcolor="#EFF3F7">
                    <input type="submit" name="saveButton"
                           class="MyButton" value="保存产品类别信息">
                    <input type="button" class="MyButton"
                           value="关闭窗口" onclick="window.close()">
                </TD>
            </TR>
        </TABLE>
    </form>
</center>
</body>
</html>