<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/oa.css}" rel="stylesheet" type="text/css">
    <script language="javascript" th:src="@{/js/public.js}"></script>
    <title>添加产品信息</title>
</head>
<body>
<center>
    <form action="productAdd.do" method="post">
        <TABLE class="tableEdit" border="0" cellspacing="1" cellpadding="0" style="width:580px;">
            <TBODY>
            <TR>
                <!-- 这里是添加、编辑界面的标题 -->
                <td align="center" class="tdEditTitle">添加产品信息</TD>
            </TR>
            <TR>
                <td>
                    <!-- 主输入域开始 -->
                    <table class="tableEdit" style="width:580px;" cellspacing="0" border="0" cellpadding="0">
                        <tr>
                            <td class="tdEditLabel">类型</td>
                            <td class="tdEditContent">
                                <select name="typeid" data-placeholder="请选择类型">
                                    <option label='请选择类型'></option>
                                    <option th:each="list:${productTypeList}" th:text="${list.getTypename()}"
                                            th:value="${list.getTypeid()}"></option>
                                </select>
                            </td>
                            <td class="tdEditLabel">名称</td>
                            <td class="tdEditContent">
                                <input type="text" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEditLabel">所在区域</td>
                            <td class="tdEditContent">
                                <input type="text" name="area">
                            </td>
                            <td class="tdEditLabel">所有者</td>
                            <td class="tdEditContent">
                                <input type="text" name="owner">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEditLabel">单位</td>
                            <td class="tdEditContent">
                                <input type="text" name="unit">
                            </td>
                            <td class="tdEditLabel">价格</td>
                            <td class="tdEditContent">
                                <input type="text" name="price">
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEditLabel">数量</td>
                            <td class="tdEditContent">
                                <input type="text" name="quantity">
                            </td>
                            <td class="tdEditLabel">其他</td>
                            <td class="tdEditContent" colspan="3">
                                <input type="text" name="otherinfo">
                            </td>
                        </tr>
                    </table>
                    <!-- 主输入域结束 -->
                </td>
            </TR>
            </TBODY>
        </TABLE>

        <TABLE>
            <TR align="center">
                <TD colspan="3" bgcolor="#EFF3F7">
                    <input type="submit" name="saveButton"
                           class="MyButton" value="保存产品信息">
                    <input type="button" class="MyButton"
                           value="关闭窗口" onclick="window.close()">
                </TD>
            </TR>
        </TABLE>
    </form>
</center>
</body>
</html>